* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Slabo 27px", serif;
}

main {
    margin: 20px;
}

/* .navbar{
    
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;

}

ul{
    list-style: none;
    font-family: 'Roboto Condensed', sans-serif;   
    text-transform: uppercase;
    display: flex;

}

a{
    text-decoration: none;
    color: white;
    transition: all 0.6s;
   
}

a:hover{
    color: #706c61;
   
}

a:active{
    text-decoration: none;
}

li{ 
    padding: 25px;
}

hr{
    border: none;
    border-left: 1px solid rgba(255,255,255,0.5);
    height: 25px;
    width: 1px;
    margin-top: 20px;
} */

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
    background-color: #111;
    color: white;
}

/* Control the right side */
.right {
    right: 0;
    background-color: white;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#createTeam {
    border-radius: 15px;
    padding: 12px;
    border-color: white;
    background-color: black;
    color: white;
}

#joinTeam {
    border-radius: 15px;
    padding: 12px;
    border-color: black;
    background-color: white;
    color: black;
}

#show-team {
    box-sizing: border-box;
    border-color: black;
    border-radius: 5px;
    width: 100%;
    background-color: chocolate;
}
